/* PROJECTS */
/*
- PROJECTS
- PROJECT CARD
- PROJECT NO RESULTS
- PROJECT RESULTS COUNT
- PROJECT FILTER
*/


// PROJECTS

.projects {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 100vw;
  @include breakpoint($tablet) {
    flex-direction: row;
    //width: 85vw;
  }
  &:after {
    content: '';
    width: 45%;
  }
  &.projects--active {
    padding-top: 6rem;
  }
}


// PROJECT CARD

.project-card {
  background: $white;
  //box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-direction: column;
  font-family: $lato;
  margin: 0 1.5rem 2rem 1.5rem;
  max-width: 100%;
  transition: all .75s ease;
  @include breakpoint($tablet) {
    margin: 0 0 2rem 0;
    width: 45%;
  }
  &__media {
    img {
      border-top: 1px solid $border-gray;
      display: block;
      min-width: 100%;
      max-width: 100%;
    }
  }
  &__media-browser {
    border: 1px solid $border-gray;
    border-top-left-radius: .25em;
    border-top-right-radius: .25em;
    &:hover {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
      cursor:pointer;
    }
    &:before {
      color: $border-gray;
      content: "\2022\2022\2022";
      display: block;
      font-size: .625rem;
      line-height: 1.25rem;
      letter-spacing: .2em;
      padding-left: .625rem;

      
    }
  }
  &__content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    font-family: $lato;
    font-weight: 700;
    height: 100%;
  }
  &__title {
    font-weight: 500;
    font-size: 1.5rem;
    letter-spacing: $letter-space-large;
    margin-bottom: 0;
    margin-top: .25rem;
    order: 2;
    &:hover {
      color: $tufts-blue;
      cursor:pointer;
      text-decoration: underline;
    }
  }
  &__introduction {
    color: $text-light;
    font-size: .85rem;
    font-weight: 500;
    letter-spacing: .04rem;
    line-height: $line-height;
    order: 3;
    p {
      margin: .5rem 0;
    }
  }
  &__team {
    color: $tufts-blue;
    font-size: .85rem;
    letter-spacing: $letter-space-small;
    order: 1;
    text-transform: uppercase;
  }
  &__url {
    align-self: flex-start;
    border-radius: .25rem;
    color: $tufts-blue;
    display: inline-block;
    order: 4;
  }
  &--active {
    height: 100%;
    min-height: 100%;
    //position: fixed;
    position: absolute;
    //top: 0;
    width: 100%;
    z-index: 10;
  }
}
	
.project-results {
  background: $white;
  border-radius: .4em;
  display: none;
  font-family: sans-serif;
  font-weight: 300;
  justify-content: space-evenly;
  margin: 1rem auto 1.5rem auto;
  max-width: 12rem;
  padding: .75rem;
  position: relative;
  text-align: center;
  &--show {
    display: block;
  }
  &:after {
	border: .5rem solid transparent;
	border-bottom-color: $white;
	border-top: 0;
	content: '';
    height: 0;
    left: 50%;
	margin-left: -.5rem;
	margin-top: -.5rem;
	position: absolute;
	top: 0;
	width: 0; 
  }
}


// NO RESULTS
.no-results {
  background: white;
  padding: 4rem 10rem;
}

 
// MENU
.menu {
  color: black;
  z-index: 100;
}


// PROJECTS COUNT

.projects-count {
  color: $text-light;
  font-family: $oswald;
  position: relative;
  z-index: 1;
  &__container {
    margin-top: -5rem;
    //position: absolute;
  }
  &__number {
    font-size: 6.5rem;
  }
  &.projects-count--active {
    //padding-top: 6rem;
  }
}


// PROJECTS FILTER

.projects-filter {
  font-family: $oswald;
  &__container {
  }
  &__title {
    font-size: 1rem;
    font-weight: 500;
    letter-spacing: .04rem;
    text-transform: uppercase;
  }
  &.projects-filter--active {
  }
}