/* MIXINS */
/*
- CLEAR
- CONTAINER
- BROWSER TEMPLATE
- BORDER LINE
*/

// CLEAR
@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}

// CONTAINER LARGE

@mixin container-large {
  margin: 0 auto;
  padding: 0 1.5rem;
  @include breakpoint($desktop-max) {
    max-width: $desktop-max;
    padding: 0;
  }
}

// CONTAINER SMALL

@mixin container-small {
  max-width: $desktop;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding: 0 1.25rem;
}

// BROWSER TEMPLATE 
@mixin browser {
  background: white;
  border: 1px solid $border-gray;
  border-top-left-radius: .25em;
  border-top-right-radius: .25em;
  &:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.05);
    cursor:pointer;
  }
  &:before {
    color: $border-gray;
    content: "\2022\2022\2022";
    display: block;
    font-size: .625rem;
    line-height: 1.25rem;
    letter-spacing: .2em;
    padding-left: .625rem;
  }
}

@mixin border-line {
  content: '';
  background: gray;
  height: 1px;
  left: 0;
  position: absolute;
  width: 9rem;
}