/* MIXINS */
/*
- CLEAR
- CONTAINER
*/

// CLEAR
@mixin clearFix(){
  &:before,
  &:after{
    content: " "; 
    display: table; 
  }

  &:after{
    display: block;
    clear: both;
    height: 1px;
    margin-top: -1px;
    visibility: hidden;
  }
  &{
    *zoom: 1;
  }
}

// CONTAINER LARGE

@mixin container-large {
  margin: 0 auto;
  padding: 0 1.5rem;
  @include breakpoint($desktop-max) {
    max-width: $desktop-max;
    padding: 0;
  }
}


// CONTAINER SMALL

@mixin container-small {
  max-width: $desktop;
  margin: 0 auto;
  position: relative;
  height: 100%;
  padding: 0 1.25rem;
}