/* MAIN REGION */
/*
- MAIN
*/


// MAIN

.main {
  background: $white;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  min-height: 100%; 
  //overflow: hidden;
  position: relative;
  &--hidden {
    height: 0;
    overflow: hidden;
    
  }
}