/* SECTION */
/*
- SECTION
- SECTION SEARCH
- SECTION PROJECTS
- SECTION INFINITE LOAD & LOAD MORE
- SECTION VARIANTS
*/



// SECTION

.section {
  display: block;
  margin: 0 auto;
  &.section--hide {
    display: none;
  }
}

// SECTION NO RESULTS
.section--no-results {
  align-content: center;
  display: flex;
  justify-content: center;
  padding: 3rem 0;
}


// SECTION

.section {
  box-sizing: border-box;
  width: 100%;
}


// SECTION SEARCH

.section--search {
  display: flex;
  justify-content: center;
  margin: 1.5rem auto;
  max-width: 75rem;
  z-index: 2;  
  .section__header {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 33.33%;
  }
  .section__header-title {
    color: $text-dark;
    font-family: $oswald; 
    font-weight: 500;
    font-size: 3.5rem;
    letter-spacing: $letter-space-large;
    line-height: 1.25em;
    padding-right: 1rem;
    text-align: right;
    text-transform: uppercase;
  }
  .section__form { 
    display: flex;
    justify-content: flex-start;
    width: 66.66%;
  }
}

// SECTION PROJECTS

.section--projects {
}


// SECTION INFINITE LOAD & LOAD MORE

.section--infinite-load {
}

.section--load-more {
  align-self: flex-end;
  display: flex;
  margin: 0 auto;
  padding: 0 2rem 2rem 2rem; 
  overflow: hidden;
}